In [3]:
import numpy as np 
import pandas as pd

In [5]:
country =["india","srilanka","napal","bhutan","tibet"]
pd.Series(country)

0       india
1    srilanka
2       napal
3      bhutan
4       tibet
dtype: object

In [6]:
marks=[20,50,45,80,60,78]
subjects=["drawing","english","maths","computer","hindi","science"]

pd.Series(marks,index=subjects)

drawing     20
english     50
maths       45
computer    80
hindi       60
science     78
dtype: int64